.login-container{
    width:300px;
    margin: 100px auto 0 auto;
}

.input-container{
    border:1px solid rgb(233,32,61);
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
}

.input-container input{
    font-size:16px;
    line-height: 1.5em;
    border: none;
    margin-left: 1em;
    width: 85%;
}

.input-container i{
    color: rgb(233,32,61);
    width:16px;
}

.password-container{
    margin-top: 0.5em;
}
.password-container input{
    width: 50%;
}
.password-container button{
    float: right;
    margin-top: 1px;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 14px;

}

.login-button{
    width:100%;
    background-color: rgb(233,32,61);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
    margin-top: 0.5em;
}
